<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1 ">
        <img src="assets/creatine.png" width="100px" height="100px">
    </div>
    <!-- Articles detail -->
    <div class="col-md-5 border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-11">Code</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-11">Designiation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">Prix TTC</div>
            </div>
        </div>
    </div>
    <!-- Category detail -->
    <div class="col col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="fa-solid fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">Category Code</div>
                    <div class="col-md-12">Category Description</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Action buttons -->
    <div class="col md-3 mb-1 mt-4">
        <div class="row">
      
          <div class="col-md-4">
            <button type="button" class="btn btn-link">
              <i class="fa-solid fa-pen-to-square"></i><br>
              Modify
            </button>
          </div>
      
          <div class="col-md-4">
            <button type="button" class="btn btn-link">
              <i class="fa-solid fa-trash-can"></i><br>
              Delete
            </button>
          </div>
      
          <div class="col-md-4">
            <button type="button" class="btn btn-link">
              <i class="fa-regular fa-rectangle-list"></i><br>
              Details
            </button>
          </div>
      
        </div>
      </div>
      
</div>