<div class="col">
    <div class="row m-3">
        <div class="col md-8 p-0">
            <h1>Articles list</h1>
        </div>
        <div class="col md-4 text-right">
            Buttons
        </div>
    </div>
    <div class="col m-3">
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
    </div>
    <div class="row text-center">
        <h3>pagination</h3>
    </div>
</div>